@model IEnumerable<MVCProject.Models.Product>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Category
        </th>
        <th>
            Producer
        </th>
        <th>
            Tax
        </th>
        <th>
            Akcje
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Products", new { area = "", id = item.ProductID }, null)
            </td>
        </tr>
    }
</table>*@

<script type="text/javascript">
    function AddToCart(item) {
        var productId = $(item).attr("productid");
        var formData = new FormData();
        formData.append("ProductId", productId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Home/Index',
            success: function (data) {

            },
            error: function (error) {
                alert("Error occured");
            }
        })
    }
</script>

<div class="container">
    <h2 class="text-center">Products List</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border: 2px solid black">
            <div style="text-align: center; border-bottom: 2px solid maroon ">
                <h4>@item.Name</h4>
            </div>
            <div>
                <div class="col-md-8">
                    <img class="img-responsive" src="" height="150px" width="150px" />
                </div>
                <div class="col-md-4" style="text-align: left">
                    <b>Category: @item.Category.Name</b>
                </div>
            </div>

            <div class="col-md-8" style="font-size: 18px; border-top: 2px solid maroon; padding: 2px">
                <b>Price: @item.Price PLN</b>
            </div>
            <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
                <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-primary" productid="@item.ProductID" id="btnAddToCart" onclick="AddToCart(this)" />
            </div>
        </div>
    }
</div>