@model MVCProject.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="center-block" style="border: 2px solid black">
    <div style="text-align: center; border-bottom: 2px solid black ">
        <h3>@Html.DisplayFor(model => model.Name)</h3>
        <h4>@Html.DisplayFor(model => model.Producer.Name)</h4>
    </div>
    <div>
        <div class='card-body text-center'>
            @for (int i = 0; i < ViewBag.Image.Count; i++)
            {
                <img class="center-block" src="@Url.Content(ViewBag.Image[i].File.Path)" width="300px" />
                <ul class='list-group list-group-flush'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <p>@ViewBag.Image[i].File.Description</p>
                        </div>
                    </div>
                </ul>
            }
        </div>
    </div>
</div>

<div class='card-body text-center'>
    <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
            <div class='row'>
                <div class='col-md-4'>
                    <p>Category: @Html.DisplayFor(model => model.Category.Name)</p>
                </div>
                <div class='col-md-4' word-wrap: break-word>
                    <p>Price: @Html.DisplayFor(model => model.Price) PLN</p>
                </div>
                <div class='col-md-4'>
                    <p>In stock: @Html.DisplayFor(model => model.Quantity)</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class='card-body text-center'>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:center" class="text-justify">@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
</div>
<div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
    @if (Model.Quantity > 0)
    {
        using (Html.BeginForm("AddToCart", "Home", new { productId = Model.ProductID, url = "Details/" + Model.ProductID }, FormMethod.Post))
        {
            <button name="AddToCart" class="btn btn-primary" productid="@Model.ProductID" id="btnAddToCart">Add to cart</button>
        }
    }
    else
    {
        <button name="AddToCart" class="btn btn-primary" disabled="disabled">Add to cart</button>
    }
</div>