@model IPagedList<MVCProject.Models.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Sklep Internetowy";
}

<h2>Strona główna</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline pull-left">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "form1" }))
            {
                <p>
                    @Html.TextBox("SearchText", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
                <div id='Paging' style="text-align: left">
                    @*Dorpdownlist generation code*@
                    Page Size: @Html.DropDownList("pageSize")
                </div>
            }
        </div>

        @*<embed src="~/counter.txt">*@
    </div>
    <div class="container">
        <h2 class="text-center">Products List</h2>
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="border: 2px solid black; border-radius: 10px; margin: 5px">
                <div style="text-align: center; border-bottom: 2px solid maroon ">
                    <h3>@item.Name</h3>
                    <h4>@item.Producer.Name</h4>
                </div>
                <div>
                    <div class="col-md-8">
                        @for (int i = 0; i < ViewBag.Image.Count; i++)
                        {
                            if (ViewBag.Image[i].ProductID == item.ProductID)
                            {
                                <img class="img-responsive" src="@Url.Content(ViewBag.Image[i].File.Path)" width="150px" />
                                break;
                            }
                        }
                    </div>
                    <div class="col-md-4" style="text-align: left">
                        <b>Category: @item.Category.Name</b>
                    </div>
                </div>

<<<<<<< HEAD
                <div class="col-md-5" style="font-size: 14px; border-top: 2px solid maroon; padding: 2px">
=======
                <div class="col-md-5" style="font-size: 15px; border-top: 2px solid maroon; padding: 2px">
>>>>>>> 2ec158e24de2ca25c0ca2fe535141d03b8ce6250
                    <div>

                        <b>Price: @item.Price PLN</b>
                    </div>

                    <b>In stock: @item.Quantity</b>
                </div>
                <div class="col-md-3" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
                    <input type="button" name="Details" value="Details" class="btn btn-primary" productid="@item.ProductID" id="btnDetails" onclick="location.href = '@Url.Action("Details", "Home", new { id=item.ProductID })'" />
                    
                </div>
                <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
                    @if (item.Quantity > 0)
                    {
                        using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductID, url = "Index" }, FormMethod.Post))
                        {
                            <button name="AddToCart" class="btn btn-primary" productid="@item.ProductID" id="btnAddToCart">Add to cart</button>
                        }
                    }
                    else
                    {
                        <button name="AddToCart" class="btn btn-primary" disabled="disabled">Add to cart</button>
                    }
                </div>
            </div>
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    $(function () {
        $("#pageSize").change(function () {
            $("#form1").submit();
        });
    });
</script>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.psize }))