
@{
    ViewBag.Title = "Popular";
}
<body>

<h2 class="navbar-text col-md-12 col-sm-12 col-xs-12 text-center">Popular</h2>
<div class="navbar-text col-md-12 col-sm-12 col-xs-12 text-center">
    @foreach (var item in Model)
    {
        <div class="col-md-offset-4">

            <div class="col-md-6 text-center" style="border: 2px solid black; border-radius: 10px; margin: 2px">
                <div style="text-align: center; border-bottom: 2px solid black ">
                    <h3>@item.Name</h3>
                    <h4>@item.Producer.Name</h4>
                </div>
                <div>
                    @for (int i = 0; i < ViewBag.Image.Count; i++)
                    {
                        if (ViewBag.Image[i].ProductID == item.ProductID)
                        {
                            <img style="text-align: center" src="@Url.Content(ViewBag.Image[i].File.Path)" width="150px" />
                            break;
                        }
                    }
                </div>
                <div style="font-size: 15px; border-top: 2px solid black; padding: 2px">

                    <div>
                        <b>Category: @item.Category.Name</b>
                    </div>
                    <div>
                        <b>Price: @item.Price PLN</b>
                    </div>
                    <div>
                        <b>In stock: @item.Quantity</b>
                    </div>
                    <div>
                        <input type="button" name="Details" value="Details" class="btn btn-primary" productid="@item.ProductID" id="btnDetails" onclick="location.href = '@Url.Action("Details", "Home", new { id=item.ProductID })'" />
                    </div>
                    <div style="text-align: center; padding: 2px">
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductID, url = "Index" }, FormMethod.Post))
                            {
                                <button name="AddToCart" class="btn btn-primary" productid="@item.ProductID" id="btnAddToCart">Add to cart</button>
                            }
                        }
                        else
                        {
                            <button name="AddToCart" class="btn btn-primary" disabled="disabled">Add to cart</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</body>

