@model IEnumerable<MVCProject.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryMethod.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryMethod.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
